ul {
  margin: 0;
  max-width: 6.66in; /*https://www.youtube.com/watch?v=WxnN05vOuSM*/
}
p {
  margin: -1mm 0 1mm 3mm;
  max-width: 6.66in;
}
h1 {
  margin: 2mm;
}
h2 {
  margin: 2mm;
}
h3 {
  margin: 2mm;
}
